
<mat-toolbar color="primary">
  <img
  width="40"
  alt="Angular Logo"
  src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
/>
  <span>Timesheet</span>
</mat-toolbar>

<div class="content" role="main">
  <h2>Today is {{ today |  date:'fullDate'  }}</h2>
  <input type="file" class="hide"
       (change)="onFileSelected($event)" #fileUpload>

  <div class="file-upload">
    {{fileName || "Please upload a spreadsheet"}}
      <button mat-icon-button color="primary" class="upload-btn"
        (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
      </button>
  </div>
  <div *ngIf="loaded" class="buttons">
    <button mat-stroked-button color="primary" [disabled]="!!clockedIn" (click)="clockIn()">
      Clock In
    </button>
    <button mat-stroked-button color="primary" [disabled]="!!clockedOut" (click)="clockOut()">
      Clock Out
    </button>
    <button mat-stroked-button color="primary" [disabled]="!!clockedIn && !clockedOut" (click)="calculateWeek()">
      Total Week's Hours
    </button>
  </div>
  <div class="dates">
    <h3 *ngIf="clockedIn">You clocked in at: {{ clockedIn }}</h3>
    <h3 *ngIf="clockedOut">You clocked out at: {{ clockedOut }}</h3>
    <h3 *ngIf="total">You worked for: {{ total }} today</h3>
    <h3 *ngIf="weekTotal">You worked for: {{ weekTotal }} this week</h3>
  </div>

</div>
  <footer>
    Developed by Rachel Halepeska ©June 2023
</footer>