.content {
    margin: 1rem;
    height: 80vh;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
}
.file-upload {
    display: flex;
    align-items: center;
}
.hide {
    display: none;
}